/* body,
html{
    height: 100%;
} */
body{
	overflow: auto;
}
/* #login {
	display: block;
    font-size: 20px;
    text-align: center;
} */



.container_home {
	background-color: #eaeaea;
	margin: 0, auto;
	height: 100%;
}

.group-name {
  font-size: 10em;
  font-family: "Didot";
  color: rgb(228, 227, 219);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
	letter-spacing: 5px;
	margin-top: 4.5%;
}

.title{
	display: block;
	margin-left: auto;
	margin-right: auto;
	/* margin-top: -50px; */
	height:560px;
	width:100%;
	align-self: center;
	background:white;
	margin-bottom: 10px;
	background: url('/banner.png');
	padding: 50px 0;
	background-size: cover;
}
.title-quote{
	font-size: 1.25em;
	font-family: "Roboto";
  color: #fcd9df;
  line-height: 1.2;
	margin-top:-120px;
	text-align: center;
}

.container_intro {
	margin-left: auto;
	margin-right: auto;
	display: block;
  line-height: 1.2;
  text-align: center;
	width:95%;
	align-self: center;
	/* background:#ced1ce; */
	/* background-color:#ccc; */

	/* background:honeydew; */
	padding-top: 5px;
	padding: 60px 0;
	margin-bottom: 15px;
	height:19%;

}
.intro-text {
	padding: 10px 0;
	font-size: 15px;
	font-family: "Roboto";
	color: rgb(45, 26, 14);
}


.link {
	text-align: center;
	font-size: 25px;
	font-family: "Roboto";
font-family:"Myanmar MN";
  color: rgb(80, 80, 80);
}

.link:hover {
	/* color: rgb(45, 26, 14); */
	color: white;/*lets change this later*/
}

.link:active {
  color: black;
}

.link:visited {
	color: rgb(45, 26, 14);
}
.modeBlock{
	background-color: #f4f8f9;
	background-color: #f9f9f9;
	padding-top: 2%;
	padding-bottom: 4%;

}
.modes{
	background-color: honeydew;
	background-color: transparent;
	width: 93%;
	/* text-align: left; */
	margin-left: auto;
	margin-right: auto;
	display:flex;
	flex-direction: row;
	/* justify-content: space-between; */
	justify-content: center;
	flex-wrap: wrap;
	/* flex-basis: start; */
}
.mode1{
	/* margin-left: auto;
	margin-right: auto; */
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: url('/diary_background.png');
	background-size:contain;
	background-repeat: no-repeat;
	background-position: bottom;
	color:black;
	/* margin-bottom: 10px; */
	width:100%;
	height:300px;
	padding-top: 5px;
	text-align: center;
	/* border-radius: 2%; */
	/* box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 6px 0px; */
}
.mode-wrapper{
	/* background: pink; */
	background-color: transparent;

	align-self: flex-start;
	/* width:32.5%; */
	width:320px;
	height:400px;
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	justify-content: flex-start;
	margin-left: 20px;
	margin-right: 10px;

}
.quote-wrapper {
	/* border-radius: 2%; */
	box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 6px 0px;
	height:75px;
	background-color:#fff;
	padding-left: 3%;
	padding-right: 3%;

	/* background-color: #e9f0e9;
	background-color: honeydew; */
}
.diary-quote {
	margin-top: 5%;
	/* margin-right: 30px; */
	text-align: left;
	font-size: 0.7em;
	font-family: "Roboto";
	/* font-family: "Savoye LET"; */
	color: rgb(80, 80, 80);
  /* font-family: "Brush Script MT"; */
	/* color: #939190; */
  /* font-style: italic; */
}

/*{"\n"}We offer boards of different designs and same functionalities.*/
.right-side {
	margin-bottom: 0px;
	text-align: center;
	margin-top: 5px;
	font-size: 1.1em;
	font-family: "Avenir";
	font-family:"Myanmar MN";

	color: rgb(45, 26, 14);
	color: rgb(80,80,80);
}


/* .mode2{
	margin-left: auto;
	margin-right: auto;
	display:block;
	background: url('/daylight_background.png');
	background-size:cover;
	background-repeat: no-repeat;
	background-position: center;
	color:black;
	margin-bottom: 20px;
	width:95%;
	height:250px;
	padding-top: 10px;
	padding-left: 10px;
} */
.mode2{
	/* margin-top: 30%; */
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: url('/daylight_background.png');
	/* background-size:cover; */
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: contain;
	color:black;
	/* margin-bottom: 10px; */
	width:100%;
	height:300px;
	padding-top: 5px;
	text-align: center;
	/* border-radius: 2%; */
	/* box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 6px 0px; */
}
/* .showNote {
	margin-top: -5%;

} */
/* .mode2{
	margin-left: 10%;
	display: inline-block;
	background: url('/night_background.png');
	background-size:cover;
	background-repeat: no-repeat;
	background-position: center;
	color:white;
	margin-bottom: 20px;
	width:80%;
	height:200px;
} */
/* .mode3{
	margin-left: 10%;
	display: inline-block;
	background: url('/daylight_background.png');
	background-size:cover;
	background-repeat: no-repeat;
	color:black;
	margin-bottom:20px;
	width:80%;
	height:200px;
} */
.mode3{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: url('/night_background.png');
	background-size:contain;
	background-repeat: no-repeat;
	background-position: bottom;
	color:black;
	/* margin-bottom: 10px; */
	width:100%;
	height:300px;
	padding-top: 5px;
	text-align: center;
	/* border-radius: 2%; */
	/* box-shadow: rgba(0s 0, 0, 0.2) 0px 3px 6px 0px; */

}
.mode4{
	/* margin-top: -1%; */
	background: url('/signup_background.png');
	/* background-size:cover; */
	background-position: bottom;
	background-position: right;

	background-repeat: no-repeat;
	color:black;
	width:100%;
	height:100px;
padding-top: 10%;
text-align: center;

}
.mode4 pre {
	/* background-color: pink; */
	font-size: 0.7em;
	font-family: "Myanmar MN";
}
@media only screen and (max-width: 500px) {
	.title{
		display: block;
		margin-left: auto;
		margin-right: auto;
		/* margin-top: -50px; */
		height:350px;
		width:100%;
		align-self: center;
		background:white;
		margin-bottom: 10px;
		background: url('/banner_small.png');
		padding: 50px 0;
		background-repeat: 	no-repeat;
		background-position: top;
		background-size: cover;
	}
	.title-quote{
		font-size: 14px;
		font-family: "Roboto";
	  color: #fcd9df;
	  line-height: 1.2;
		/* margin-top:10px; */
		text-align: center;
	}
	.group-name {
	  font-size: 120px;
	  font-family: "Didot";
	  color: rgb(228, 227, 219);
	  font-weight: bold;
	  line-height: 1.2;
	  text-align: center;
		letter-spacing: 5px;
		margin-top: 15%;
	}
	.link {
		text-align: center;
		font-size: 20px;
		font-family: "Roboto";
	font-family:"Myanmar MN";
	  color: rgb(80, 80, 80);
	}
	.intro-text {
		padding: 10px 0;
		font-size: 12px;
		font-family: "Roboto";
		color: rgb(45, 26, 14);
	}
}
